.App {
  text-align: center;
}

body {
  background-image: url(../src/1234.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.custum_card{
  background-color: #ffffff85;
  border: 0px solid rgba(0, 0, 0, .125);
  border-radius: 1.25rem;
}

.field input{
  color: #ffffff;
  background-color: #fa94a7;
  border: none; 
}
.field input::placeholder{
  color: #ffffff;
  
}
.btn-theme{
  background-color: #e12e53;
  color: white;
  border: none;
}
.btn-cancel{
  background-color: #fa7e98;
  border: none;
  color: white;
}